/* need to fix the footer */

* {
    margin: 0;
  }
  
  body {
    font-family: 'Lato', sans-serif;
    background-color: Khaki;
    text-transform: lowercase;
  }
  
  h1 {
    font-size: 3em;
    padding: 10px;
    color: white;
    text-transform: uppercase;
    background-color: RosyBrown;
  }
  
  h2 {
    font-size: 2em;
  }
  
  h3 {
    font-size: 1.5em;
  }
  
  .upper {
    font-weight: 900;
    color: LightCoral;
    text-transform: uppercase;
  }
  
  .container {
    max-width: 960px;
    max-height: 540;
    text-align: center;
    margin: 0 auto;
  }
  
  .controlpad {
    float: left;
    padding-left: 14em;
    padding-top: 2em;
  }
  
  .sessionC,
  .restC {
    padding-top: 1em;
  }
  
  .controlpad > button {
    padding: .3em;
  }
  .circleBox {
    float: right;
    padding-right: 11em;
    padding-left: 4em;
  }
  
  .timerBox {
    width: 204px;
  }
  
  .timerBox > * {
    position: relative;
    top: 50px;
  }
  
  .timerCbox {
    padding: 1em;
  }
  
  .timerCbox button {
    padding: 0 .5em;
  }
  
  #timer {
    font-size: 3em;
    font-weight: bold;
    background-color: LightGreen;
    border-radius: 20px;
    padding: 5px;
    text-shadow: 3px 3px 3px white;
  }
  
  /* This removes all button default style */
  button {
    margin      : 0;
    padding     : 0;
    border      : 0;
    background  : transparent;
    font-family : inherit;
    font-size   : 1em;
    cursor      : pointer;
  }
  
  button:hover {
    background-color: CadetBlue;
  }
  
  #clear {
    clear: both;
  }
  
  /* footer elements */
  footer {
    text-align: right;
    padding: 10px;
    color: white;
    margin-top: 3em;
    background-color: RosyBrown;
  }
  /* list*/
  ul {
    list-style: none;
  }
  li {
    display: inline;
  }
  ul li {
    padding: 0 .2em 0 .2em;
  }
  /* /list */
  /* link style */
  a:link {
    color: white;
  }
  a:hover {
    color: khaki;
  }
  
  /* /footer elements */
  
  /* responsive */
  @media screen and (max-width: 857px) {
    .controlpad {
      margin: 0;
      padding: 0;
      position: static;
      width: 100%;
      height: 250px;
    }
    .circleBox {
      margin: 0;
      padding: 0;
      width: 100%;
    }
    .timerBox {
      margin: 0 auto;
      padding: 0;
    }
  }
  /* note on button click styling, that is there for accesibility reasons. It's purpose is for users who can't use the mouse, and can just tab over to the button (which also applies to links) */
  